-- 1. 先建實體儲存表（明細表）
CREATE TABLE IF NOT EXISTS default.clickstream_records (
    event_time DateTime,
    user_id UInt64,
    site_id UInt16,
    page_url String,
    device_type LowCardinality(String),
    click_count UInt32
) ENGINE = MergeTree()
PARTITION BY toYYYYMM(event_time)
ORDER BY (site_id, device_type, event_time)
TTL event_time + INTERVAL 7 DAY;

-- 2. 先建實體儲存表（分鐘聚合表）
CREATE TABLE IF NOT EXISTS default.clickstream_minute_stats (
    event_minute DateTime,
    site_id UInt16,
    device_type LowCardinality(String),
    total_clicks SimpleAggregateFunction(sum, UInt64)
) ENGINE = SummingMergeTree()
PARTITION BY toYYYYMM(event_minute)
ORDER BY (site_id, device_type, event_minute)
TTL event_minute + INTERVAL 365 DAY;

-- 3. 建立接收 Kafka 資料的引擎表
CREATE TABLE IF NOT EXISTS default.clickstream_queue (
    event_time String,
    user_id UInt64,
    site_id UInt16,
    page_url String,
    device_type LowCardinality(String),
    click_count UInt32
) ENGINE = Kafka
SETTINGS kafka_broker_list = 'redpanda:9092',
         kafka_topic_list = 'clickstream_events',
         kafka_group_name = 'clickhouse_consumer_group',
         kafka_format = 'JSONEachRow',
         kafka_max_block_size = 10000,
         stream_flush_interval_ms = 5000;

-- 4. 實體表都就緒後，最後建立 Materialized View
CREATE MATERIALIZED VIEW IF NOT EXISTS default.clickstream_mv 
TO default.clickstream_records AS
SELECT
    parseDateTimeBestEffort(event_time) AS event_time,
    user_id,
    site_id,
    page_url,
    device_type,
    click_count
FROM default.clickstream_queue;

-- 5. 建立第二個 Materialized View（預聚合寫入分鐘表）
CREATE MATERIALIZED VIEW IF NOT EXISTS default.clickstream_min_mv 
TO default.clickstream_minute_stats AS
SELECT
    toStartOfMinute(parseDateTimeBestEffort(event_time)) AS event_minute,
    site_id,
    device_type,
    sum(click_count) AS total_clicks
FROM default.clickstream_queue
GROUP BY
    event_minute,
    site_id,
    device_type;